- name: Configure DD-WRT Router for OpenVPN
  hosts: Stockholm
  gather_facts: no
  vars:
    vpn_server_ip: "{{ vpn_ip }}"
  tasks:
    - name: Allow VPN clients to communicate with LAN
      raw: |
        iptables -I FORWARD -s 192.168.10.128/25 -d 192.168.10.0/24 -j ACCEPT
        iptables -I FORWARD -s 192.168.10.0/24 -d 192.168.10.128/25 -j ACCEPT

    - name: Allow port forwarding for OpenVPN
      raw: |
        iptables -I FORWARD -p udp -d {{ vpn_server_ip }} --dport 1194 -j ACCEPT
        iptables -t nat -A PREROUTING -p udp --dport 1194 -j DNAT --to-destination {{ vpn_server_ip }}:1194

    - name: Save Firewall Rules
      raw: |
        echo "iptables -I FORWARD -s 192.168.10.128/25 -d 192.168.10.0/24 -j ACCEPT" >> /tmp/.rc_firewall
        echo "iptables -I FORWARD -s 192.168.10.0/24 -d 192.168.10.128/25 -j ACCEPT" >> /tmp/.rc_firewall
        echo "iptables -I FORWARD -p udp -d {{ vpn_server_ip }} --dport 1194 -j ACCEPT" >> /tmp/.rc_firewall
        echo "iptables -t nat -A PREROUTING -p udp --dport 1194 -j DNAT --to-destination {{ vpn_server_ip }}:1194" >> /tmp/.rc_firewall
        nvram set rc_firewall="$(cat /tmp/.rc_firewall)"
        nvram commit
