networks:
  net:
    driver: bridge

services:
  authelia:
    image: authelia/authelia
    container_name: authelia
    volumes:
      # - ./authelia/certs:/etc/ssl/certs
      - ./authelia/certs/ca.crt:/usr/local/share/ca-certificates/ca.crt
      - ./authelia:/config
    networks:
      - net
    # entrypoint: [ "/bin/sh", "-c", "update-ca-certificates --fresh && exec authelia" ]
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.authelia.rule=Host(`authelia.acme.local`)'
      - 'traefik.http.routers.authelia.entrypoints=https'
      - 'traefik.http.routers.authelia.tls=true'
      - 'traefik.http.routers.authelia.tls.options=default'
      - 'traefik.http.services.authelia.loadbalancer.server.port=9091'
      - 'traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https://authelia.acme.local'
      - 'traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true'
      - 'traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email'
    expose:
      - 9091
    restart: unless-stopped
    healthcheck:
      disable: true
    environment:
      - TZ=Asia/Tehran

  api:
    image: node:18-alpine
    container_name: api
    volumes:
      - ./api:/app
    working_dir: /app
    command: sh -c "npm install && npm start"
    networks:
      - net
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.api.rule=Host(`api.acme.local`)'
      - 'traefik.http.routers.api.entrypoints=https'
      - 'traefik.http.routers.api.tls=true'
      - 'traefik.http.routers.api.tls.options=default'
      - 'traefik.http.routers.api.middlewares=authelia'
      - 'traefik.http.services.api.loadbalancer.server.port=3000'
    expose:
      - 3000
    restart: unless-stopped

  webserver:
    build:
      context: ./webserver
      dockerfile: Dockerfile
    container_name: webserver
    networks:
      - net
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.webserver.rule=Host(`webserver.acme.local`)'
      - 'traefik.http.routers.webserver.entrypoints=https'
      - 'traefik.http.routers.webserver.tls=true'
      - 'traefik.http.routers.webserver.tls.options=default'
      - 'traefik.http.routers.webserver.middlewares=authelia'
      - 'traefik.http.services.webserver.loadbalancer.server.port=8000'
    expose:
      - 8000
    restart: unless-stopped

  traefik:
    image: traefik:2.4
    container_name: traefik
    volumes:
      - ./traefik:/etc/traefik
      - ./traefik/certs/ca.crt:/etc/ssl/certs/ca.crt
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - net
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.traefik.rule=Host(`traefik.acme.local`)'
      - 'traefik.http.routers.traefik.entrypoints=https'
      - 'traefik.http.routers.traefik.service=api@internal'
      - 'traefik.http.routers.traefik.tls=true'
      - 'traefik.http.routers.traefik.tls.options=default'
      - 'traefik.http.routers.traefik.middlewares=authelia'
    ports:
      - 80:80
      - 443:443
    command:
      - '--api'
      - '--api.dashboard=true'
      - '--providers.docker=true'
      - '--providers.docker.exposedByDefault=false'
      - '--providers.docker.network=net'
      - '--providers.file.filename=/etc/traefik/certificates.yml'
      - '--entrypoints.http=true'
      - '--entrypoints.http.address=:80'
      - '--entrypoints.http.http.redirections.entrypoint.to=https'
      - '--entrypoints.http.http.redirections.entrypoint.scheme=https'
      - '--entrypoints.https=true'
      - '--entrypoints.https.address=:443'
      - '--log=true'
      - '--log.level=DEBUG'

  db:
    image: mariadb
    restart: unless-stopped
    networks:
      - net
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-file-per-table=1 --skip-innodb-read-only-compressed
    volumes:
      - db:/var/lib/mysql
    env_file:
      - db.env

  redis:
    image: redis
    restart: always
    networks:
      - net
    command: redis-server --requirepass zY2251DcMNsq

  app:
    image: nextcloud:latest
    restart: unless-stopped
    networks:
      - net
    links:
      - db
      - redis
    volumes:
      - nextcloud:/var/www/html
    environment:
      - MYSQL_HOST=db
      - REDIS_HOST_PASSWORD=zY2251DcMNsq
    env_file:
      - db.env
    expose:
      - 80
    depends_on:
      - db
      - redis
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.app.rule=Host(`nextcloud.acme.local`)'
      - 'traefik.http.routers.app.entrypoints=https'
      - 'traefik.http.routers.app.tls=true'
      - 'traefik.http.routers.app.tls.options=default'
      - 'traefik.http.routers.app.middlewares=authelia'
volumes:
  db:
  nextcloud:
